// --------------------------------------------------------
// Import
// --------------------------------------------------------

@import "_include/setting";
@import "_include/sanitize";

// --------------------------------------------------------
// Common Style
// --------------------------------------------------------

@import "_include/common";

// --------------------------------------------------------
// Page Style
// --------------------------------------------------------

.mg-top{
    padding: 4rem 0 2rem 0;

    & h1{
        margin-bottom: 1rem;
        font-size: 2.6rem;
        font-weight: 800;
    }

    & h2{
        font-size: 1.0rem;
    }
}

.mg-list{
    padding: 2rem;
    font-size: 1.4rem;

    & li{
        margin-bottom: 2rem;
    }
}