<% var title = "top" -%>
<!DOCTYPE html>
<html dir="ltr" lang="ja">
<%- include('./_include/_head', {pageTitle:title}) %>
<body>
<main>
    <h1>top</h1>
    <ul>
<% jsonData.pages.forEach(function (value, key) { %>
        <li>
            <a href="./<%= [value] -%>.html"><%= value %></a>
        </li>
<% }); %>
    </ul>
</main>
<script src="./js/<%= title -%>.js"></script>
</body>
</html>