<% var title = "page1" -%>
<!DOCTYPE html>
<html dir="ltr" lang="ja">
<%- include('./_include/_head', {pageTitle:title}) %>
<body>
<main>
    <h1><%= title %></h1>
</main>
<script src="./js/<%= title -%>.js"></script>
</body>
</html>